librosa
numpy
opencv-contrib-python
opencv-python
torch
torchvision
tqdm
numba
-f https://download.pytorch.org/whl/torch_stable.html
https://raw.githubusercontent.com/AwaleSajil/ghc/master/ghc-1.0-py3-none-any.whl
librosa==0.9.1
ffmpeg-python
-q youtube-dl